* {
				margin: 0;
				border: 0;
				padding: 0;
				text-decoration: 0;
				cursor: pointer;
				font-family: "微软雅黑";
			}
			
			.mBox {
				width: 350px;
				height: 700px;
				border: 1px solid gainsboro;
				margin: 120px auto;
				background-image: url(../images/tiles.png);
				background-size: cover;
			}
			
			#box {
				width: 100px;
				height: 100px;
				margin: 120px auto;
				/*background: #ccc;**/
				position: relative;
				transform: perspective(800px) rotateY(-65deg) rotateX(45deg);
				transform-style: preserve-3d;
			}
			
			.music {
				border-top: 1px solid gainsboro;
				margin: 0 auto;
				width: 300px;
				padding: 10px;
			}
			
			#box div {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-size: cover;
				box-shadow: 0 0 80px #5FBCFF;
				-webkit-box-shadow: 0 0 80px #5fbcff;
				opacity: 0.8;
			}
			
			.front {
				transform: translateZ(80px);
				background-image: url(im);
			}
			
			.back {
				transform: translateZ(-80px);
				
			}
			
			.left {
				transform: translateX(-80px) rotateY(90deg);
				
			}
			
			.right {
				transform: translateX(80px) rotateY(90deg);
				
			}
			
			.top {
				transform: translateY(-80px) rotateX(90deg);
				
			}
			
			.bottom {
				transform: translateY(80px) rotateX(90deg);
				
			}
			
			.mBox_dur {
				width: 300px;
				height: 5px;
				background-color: gainsboro;
				border-radius: 5px;
				margin-top: 10px;
			}
			
			.mBox_cur {
				border-radius: 5px;
				height: inherit;
				background-color: #5fbcff;
			}
			
			.mBox_curTime,
			.mBox_durTime {
				color: #545c68;
			}
			
			.u_vol {
				width: 100px;
				height: 5px;
				background-color: gainsboro;
				border-radius: 5px;
				margin-bottom: 10px;
				float: left;
				margin-top: 18px;
				margin-left: 5px;
			}
			
			.d_vol {
				border-radius: 5px;
				height: inherit;
				background-color: #5fbcff;
			}
			
			.mBox_durTime {
				float: right;
				height: 30px;
				display: inline-block;
			}
			
			.mvol_title img {
				height: 20px;
				width: 20px;
				float: left;
				margin-top: 10px;
			}
			
			.mBox_ul {
				height: 220px;
				overflow: auto;
				width: 300px;
			}
			
			.mBox_ul li {
				list-style: none;
				margin-top: 10px;
				border-bottom: 1px dashed gray;
				color: #000000;
			}
			
			.mBox_contorl {
				padding-top: 10px;
				opacity: 0.8;
				background-image: url(../images/playerbg.png);
				height: 100px;
			}
			
			.mBox_prev img {
				height: 20px;
				width: 20px;
			}
			
			.mBox_next img {
				height: 20px;
				width: 20px;
			}
			
			.pusCon img {
				height: 20px;
				width: 20px;
				margin: 0 10px;
			}